<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/password-reset-success.css" />
  </head>
  <body>
    <section class="password-reset-success">
      <div class="box">
        <h1><%= message %></h1>
      </div>
    </section>
  </body>
</html>
