<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/password-reset.css" />
  </head>
  <body>
    <section class="password-reset">
      <div class="box">
        <h1>Jelszó beállítása</h1>
        <form
          id="password-reset-form"
          action="<%= passwordResetSubmitUrl %>"
          method="POST"
        >
          <input type="hidden" name="token" value="<%= token %>" />
          <div class="form-control">
            <label for="password">Új jelszó *</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Új jelszó"
            />
          </div>
          <div class="form-control">
            <label for="confirm-password">Új jelszó mégegyszer *</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              required
              placeholder="Új jelszó mégegyszer"
            />
          </div>
          <div id="error-message" style="color: red; display: none">
            A két jelszó nem egyezik!
          </div>
          <button type="submit">Jelszó beállítása</button>
        </form>
      </div>
    </section>
    <script>
      document
        .getElementById("password-reset-form")
        .addEventListener("submit", function (event) {
          let submitButton = document.querySelector('button[type="submit"]');
          submitButton.disabled = true;
          submitButton.classList.add("loading");

          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirm-password").value;

          if (password !== confirmPassword) {
            event.preventDefault(); // Megakadályozza az űrlap elküldését
            const errorMessage = document.getElementById("error-message");
            errorMessage.style.display = "block"; // Hibaüzenet megjelenítése

            submitButton.disabled = false;
            submitButton.classList.remove("loading");
          }
        });
    </script>
  </body>
</html>
